*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

body{
  font-family: 'Poppins', sans-serif;
}

p{
  color: #555;
}

/* start header section */



.navigation{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;

}


.logo{

}

nav{
    flex: 1;
    text-align: end;
}

nav ul{
    display: inline-block;
    list-style-type: none;
    position: relative;
    
}

nav ul li{
    display: inline-block;
    margin-right: 20px;
    
}

a{
    text-decoration: none;
    color: #555;
}
.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

 .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.header .row{
  margin-top: 60px;
}

.col-2{
  flex-basis: 50%;
  min-width: 250px;
  max-width: 50%;
}
.col-2 img{
  max-width: 100%;
  padding: 40px 0;
  
}

.col-2 h1{
  font-size: 30px;
  line-height: 40px;
  margin: 15px 0;
  
}

.btn{
  background-color: #d547f1;
  display: inline-block;
  color: #fff;
  margin: 15px 0;
  padding: 8px 30px ;
  border-radius: 30px;
  transition: background 0.5s;
}

.btn:hover{
  background-color:#fd98b3 ;
}
.header{
  background: radial-gradient(#eba7a7,#84abff)
}

/* end header section */


/* featured catagory start */

.catagory{
    margin: 100px auto;
    padding: ;
}
.small-container{
  max-width: 1180px ;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.col-3{
  flex-basis: 30%;
  min-width: 250px;
  margin-bottom: 30px;
}
.col-3 img{
  width: 100%;
  height: 350px;
  padding: 10px;

}
/* featured catagory end */

/* featured product start */

.col-4{
  flex-basis: 25%;
  padding: 10px;
  min-width:200px;
  margin-bottom: 50px;
  margin: auto;
  transition: transform 0.5s;
}
.col-4 img{
  height: 200px;
  max-width: 240px;
}

.title{
  text-align: center;
  margin: 0 auto 80px;
  position: relative;
  line-height:60px;
  color: #555;
}
.title::after{
  content: ' ';
  background-color: hsl(0, 100%, 65%);
  height: 5px;
  width: 80px;
  position: absolute;
  border-radius: 5px;
  bottom: 5px;
  left: 50%;
  transform: translateX(-50%); 
}
.rating{
  font-size: 15px;
}
.col-4:hover{
  transform: translateY(-5%);
  cursor: pointer;
}

.rating .fa-solid{
  color: #ff523b;
}
/* featured product end */
 
/* offer section start  */
.offer{
  background: radial-gradient(#eba7a7,#84abff);
  margin: 10px;
  padding: 40px 0;
}

.offer img{
    padding: 50px;
}

small{
  color: #555  ;
}
/* offer section end  */

/* Testimonial section start  */
.testimonial{
    margin-top: 50px;
}
.testimonial .col-3{
      margin: 20px auto;
      padding: 30px 0;
      text-align: center;
      box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
      transition: 0.6s;
}
.testimonial .col-3:hover{
  transform: translateY(-10px);
}
.testimonial .col-3 img{
  width: 70px;
  height: 70px;
  margin-top: 20px;
  border-radius: 50%;
}
.fa-solid .fa-quote-left{
  font-size: 34px;
  color: #ff523b;
}
.col-3 p{
  font-size: 12px;
  margin: 12px 10px;
  color: #777;
}
.col-3 h3{
  font-weight: 600;
  color: #555;
  font-size: 16px;
}
/* Testimonial section end  */

/* brnd start  */
.brands{
  margin: 60px auto;
  width: 1050px;
}
.brands .col-5{
    flex-basis: 20%;
    padding: 0 10px;
   
    
}
.brands .col-5 img{
  width: 100%;
  width: 150px;
  cursor: pointer;
  filter: grayscale(80%);
}
.brands .col-5 img:hover{
  filter:grayscale(0) ;
}
/* brand end  */


/* footer start  */

.footer{
    background-color: #161515;
    margin-top:30px ;
    padding:60px 0 20px;
    color: #8a8a8a;
    font-size: 14px;
}
.footer p{
  color: #8a8a8a;
}
.footer h3{
  color: #fff;
  margin-bottom: 20px;
}
.footer-col-1,.footer-col-2,.footer-col-3,.footer-col-4{
  min-width: 250px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.footer-col-1{
  flex-basis: 30%;
}

.footer-col-2{
  flex: 1;
  text-align: center;
}

.footer-col-2 img{
  width: 70px;
  margin-bottom: 20px;

}

.footer-col-3 .footer-col-4{
  flex-basis: 15%;
  text-align: center;
}

ul{
  list-style-type: none;
}

.app-logo {
  margin-top: 20px;
}
.app-logo img{
  width: 120px;
  height: 50px;
  cursor: pointer;
}

.footer hr{
  border: none;
  background: #b5b5b5;
  height: 1px;
  margin: 20px auto;
}

.copyright{
  text-align: center;
}


.menu-icon{
  width: 18px;
  margin-left: 10px;
  display: none;
}

/* All product html  */

.row-2{
  justify-content: space-between;
  margin: 100px auto 50px;
}
 select{
  border: 2px solid #bb3321;
  padding: 5px;
}
.row-2 select:focus{
  outline: none;
}

.page-btn{
  margin: 10px auto 30px;
}
.page-btn span{
  display: inline-block;
  border: 1px solid #d547f1;
  margin-left: 10px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}
.page-btn span:hover{
  background-color: #d547f1;
  color: #fff;
}

/* single Product details  */
.single-product{
  margin-top: 60px;
}
.single-product .col-2 img{
  padding: 0;
  width: 100%;
}
.single-product .col-2{
 padding: 20px;
}
.single-product h4{
  margin: 20px 0;
  font-size: 20px;
  font-weight: bold;
}
.single-product select{
  display: block;
  padding: 10px;
  margin-top: 20px;
}
.single-product input{
  width: 50px;
  height: 35px;
  padding-left: 10px;
  font-size: 20px;
  margin-right: 10px;
  border: 1.5px solid #ff523b;
}
input:focus{
  outline: none;
}
.single-product .fa{
  color: #ff523b;
  margin-left: 10px;
}
.small-img-row{
  display: flex;
  justify-content: space-between;
  
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
.small-img-col img{
  width: 100%;
  height: 100%;
}


/* cart items details  */

.cart-page{
  margin: 80px auto;
}
table{
  width: 100%;
  border-collapse: collapse;
}
.cart-info{
  display: flex;
  flex-wrap: wrap;
}
th{
  text-align: left;
  padding: 5px;
  color: #fff;
  background: #ff523b;
  font-weight: normal;
}
td{
  padding: 10px 5px;
}
td input{
  width: 40px;
  padding: 2px;
  height: 30px;
}
td a{
  color: #ff523b;
  font-size: 12px;
}
td img{
  width: 80px;
  height: 80px;
  margin-right: 15px;
}

.total-price{
  display: flex;
  justify-content: flex-end;
}
.total-price table{
  border-top: 3px solid #ff523b;
  width: 100%;
  max-width: 500px;
}
td:last-child{
  text-align: right;
}
th:last-child{
  text-align: right;
}


/* account-page */

.account-page{
  padding: 50px;
  background: radial-gradient(#eba7a7,#84abff);
}
.form-container{
  background: #fff;
  width: 300px;
  height: 400px;
  position: relative;
  text-align: center;
  padding: 20px 0;
  margin: auto;
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

.form-container span{
  font-weight: bold;
  padding: 20px auto;
  color: #333;
  cursor: pointer;
  width: 100px;
  display:inline-block;
}

.form-btn{
  display: inline-block;
}
.form-container form{
  max-width: 300px;
  padding: 0 20px;
  position: absolute;
  top: 130px;
}

form input{
  width: 100%;
  height: 30px;
  margin: 10px 0;
  padding: 0 10px;
  border: 1px solid #ccc;
}
form .btn{
  width: 100%;
  border: none;
  cursor: pointer;
  margin: 10px 0;
}
form .btn:focus{
  outline: none;
}
#LoginForm{
  left: -300px;
}
#RegForm{
  left: 0;
}
form a{
  font-size: 12px;
}
#Indicator{
  width: 100px;
  border: none;
  background-color: #ff523b;
  height: 3px;
  margin-top: 8px;
  transform: translateX(100px);
}


/* responsive  */

/* media query for menu  */

@media only screen and (max-width: 800px){
  nav ul{
    margin-top: 30px;
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    
    transition: max-height 0.5s;
  }
  nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: px;
  }
  nav ul li a{
    color: #fff;
  }

  .menu-icon{
    display: block;
    cursor: pointer;
  }
}



/* media query for less than 600px */
@media only screen and (max-width: 600px){
   .row{
    text-align: center;
  }
  .col-2,col-3,col-4{
    flex-basis: 100%;
  }
  .navigation{
    width: 100%;
  }
  .single-product .row{
    text-align: left;
  }
  .single-product .col-2{
    padding: 20px 0;
  }
  .single-product h1{
    font-size: 26px;
    line-height: 30px;
  }
  .cart-info p{
    display: none;
  }
  .total-price table{
    max-width: 170px;
  }
}